<div id="<%= dom_id book %>" class="book">
  <% if book.cover.attached? %>
    <%= image_tag book.cover, class: "book-img" %>
  <% else %>
    <%= image_tag "no-image.png", class: "book-img" %>
  <% end %>

  <div class="book-info">
    <h2 class="book-title">
      <%= book.title %>
    </h2>

    <p class="book-item">
      Author:
      <span class="book-item--data"><%= book.author %></span>
    </p>

    <p class="book-item">
      ISBN:
      <span class="book-item--data"><%= book.isbn %></span>
    </p>

    <div class="book-description">
      <p class="book-item">
        Description:
        <span class="book-item--data"><%= book.description %></span>
      </p>
    </div>

    <% if book.content.attached? %>
      <div class="book-content">
        <h3 class="my-4 title_main">Content:</h3>
          <%= link_to 'Download Content', rails_blob_path(book.content, disposition: 'attachment'), class: "btn-primary" %>
      </div>

        <%= link_to "View PDF",  view_pdf_book_path(@book), class: "btn-primary" %>

    <% end %>
  </div>
</div>
