<div id="<%= dom_id book %>" class="book-card">
    <%= image_tag "no-image.png", class: "book-card_img" %>

  <div class="book-card_info">
    <h2 class="book-card_title">
      <%= book.title %>
    </h2>

    <p class="book-card_item">
      Author:
      <span class="book-card_item--data"><%= book.author %></span>
    </p>

    <p class="book-card_item">
      Isbn:
      <span class="book-card_item--data"><%= book.isbn %></span>
    </p>

    <div class="book-description">
      <p class="book-card_item">
        Description:
      <span class="book-card_item--data"><%= book.description %></span>
      </p>
    </div>
  </div>
</div>
