<div id="<%= dom_id book %>" class="pb-5 shadow-md rounded-xl">
      <%= image_tag "no-image.png", class: "book-card_img" %>

    <div class="book-card_data">
      <h2 class="title_main" >
      <%= link_to book.title, book_path(book) %>
      </h2>

      <p class="book-card_item">
      Author:
      <span class="book-card_item--data"><%= book.author %></span>
    </p>

      <p class="book-card_item">
      Isbn:
      <span class="book-card_item--data"><%= book.isbn %></span>
    </p>

      <p class="my-5">
        <strong class="block mb-1 font-medium">Description:</strong>
        <%= book.description %>
      </p>

      <%= link_to "Show this book", book, class: "btn-signup" %>
    </div>
</div>
