<div id="<%= dom_id book %>" class="book-card">
  <% if book.cover.attached? %>
  <div class="shadow book-card_img-wrapper" >
    <%= image_tag book.cover, class: " book-card_img border-opacity-50 transition ease-in-out delay-150 hover:scale-110 duration-300" %>
  </div>
  <% else %>
  <div class="shadow book-card_img-wrapper">
    <%= image_tag "no-image.png", class: "book-card_img transition ease-in-out delay-150 hover:scale-110 duration-300" %>
  </div>
  <% end %>

  <div class="flex flex-col justify-between p-4 h-80">
    <div class="mb-2">
      <h2 class="mb-1.5 title_main" >
        <%= link_to book.title, book_path(book) %>
      </h2>

      <p class="mb-1.5 text-base font-bold text-gray-700">
        Author:
        <span class="book-item--data whitespace-nowrap"><%= book.author %></span>
      </p>

      <p class="mb-1.5 text-base font-bold text-gray-700">
        Isbn:
        <span class="book-item--data slashed-zero"><%= book.isbn %></span>
      </p>

      <p class="mb-1 text-base font-bold text-gray-700">Description:</p>
        <p class="block font-medium">
          <%= book.description.truncate(70) %>
        </p>
    </div>

    <div class="self-center mt-2 mb-1">
      <%= link_to "Show this book", book, class: "btn-signup" %>
    </div>
  </div>
</div>
