<%= simple_form_for book, url: polymorphic_path(book), defaults: { input_html: { class: 'form_input' } }, html: { class: 'contents' } do |form| %>
  <div class="my-5">
    <%= form.input :title %>
  </div>

  <div class="my-5">
    <%= form.input :author %>
  </div>

  <div class="my-5">
    <%= form.input :isbn %>
  </div>

  <div class="my-5">
    <%= form.input :description, as: :text %>
  </div>

  <div class="my-5">
    <%= form.input :cover, as: :file, label: 'Cover' %>
  </div>

  <div class="my-5">
    <%= form.input :content, as: :file, label: 'Content (PDF file)' %>
  </div>

  <div class="inline">
    <%= form.button :submit, 'Save', class: 'form_btn' %>
  </div>
<% end %>
