<header class="mb-28">
  <nav class="header_nav">
    <div class="nav-flex">
      <%= link_to root_path do %>
        <span class="logo">Web Library</span>
      <% end %>

      <%= link_to 'All books', root_path, class: "btn-signup" %>'
      <%= render "shared/search-form" %>

      <% if user_signed_in? %>
        <%= link_to 'New book', new_book_path, class: "btn-signup" %>

        <div  class="dropdown group">
          <div class="flex items-end mb-5">
            <%= image_tag('user-check-solid.svg', alt: 'Avatar', size: "40") %>
            <p class="avatar">Welcome, <%= current_user.username %></p>
          </div>

          <div class="absolute hidden h-auto bg-white -left-1 group-hover:block dropdown-menu">
            <ul class="py-2 text-sm text-gray-700">
              <li class="px-4 py-3">
                 <p class="truncate"><%= current_user.email %></p>
              </li>
              <li class='items-center'>
                <%= button_to 'Sign Out', destroy_user_session_path, method: :delete, class: "btn-signup" %>
              </li>
            </ul>
          </div>
        </div>
      <% else %>
        <ul class="flex">
          <li>
            <%= link_to 'Log In', new_user_session_path, class: "btn-login" %>
          </li>
          <li>
            <%= link_to 'Sign Up', new_user_registration_path,  class: "btn-signup" %>
          </li>
        </ul>
      <% end %>
    </div>
  </nav>
</header>
